# Dependencies

In [1]:
import numpy as np
import pandas as pd
from fraud_pre_proc import *

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("dark")

# Import data

In [3]:
#trans data
#df_train_trans = import_data('./Data/train_transaction.csv',nrows=1000)
df_train_ids = pd.read_csv('./Data/train_identity.csv')
df_test_ids = pd.read_csv('./Data/test_identity.csv')

In [4]:
df_train_ids['isFraud'] = [1]*len(df_train_ids)
df_train_ids.head(3)

   TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  id_09  id_10  id_11     id_12  id_13  id_14  id_15     id_16  id_17  id_18  id_19  id_20  id_21  id_22 id_23  id_24  id_25  id_26 id_27  id_28     id_29        id_30                id_31  id_32      id_33           id_34 id_35 id_36 id_37 id_38 DeviceType                     DeviceInfo  isFraud
0        2987004    0.0   70787.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  100.0  NotFound    NaN -480.0    New  NotFound  166.0    NaN  542.0  144.0    NaN    NaN   NaN    NaN    NaN    NaN   NaN    New  NotFound  Android 7.0  samsung browser 6.2   32.0  2220x1080  match_status:2     T     F     T     T     mobile  SAMSUNG SM-G892A Build/NRD90M        1
1        2987008   -5.0   98945.0    NaN    NaN    0.0   -5.0    NaN    NaN    NaN    NaN  100.0  NotFound   49.0 -300.0    New  NotFound  166.0    NaN  621.0  500.0    NaN    NaN   NaN    NaN    NaN    NaN   NaN    New  NotFound   iOS 11.1.2   mobile safari 11.0   32.0   1334x750  match_status:1     T     F     F     T     mobile                     iOS Device        1
2        2987010   -5.0  191631.0    0.0    0.0    0.0    0.0    NaN    NaN    0.0    0.0  100.0  NotFound   52.0    NaN  Found     Found  121.0    NaN  410.0  142.0    NaN    NaN   NaN    NaN    NaN    NaN   NaN  Found     Found          NaN          chrome 62.0    NaN        NaN             NaN     F     F     T     T    desktop                        Windows        1

In [5]:
df_test_ids.head(3)

   TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  id_09  id_10  id_11     id_12  id_13  id_14  id_15     id_16  id_17  id_18  id_19  id_20  id_21  id_22 id_23  id_24  id_25  id_26 id_27  id_28     id_29          id_30                    id_31  id_32     id_33           id_34 id_35 id_36 id_37 id_38 DeviceType                   DeviceInfo
0        3663586  -45.0  280290.0    NaN    NaN    0.0    0.0    NaN    NaN    NaN    NaN  100.0  NotFound   27.0    NaN    New  NotFound  225.0   15.0  427.0  563.0    NaN    NaN   NaN    NaN    NaN    NaN   NaN    New  NotFound            NaN  chrome 67.0 for android    NaN       NaN             NaN     F     F     T     F     mobile  MYA-L13 Build/HUAWEIMYA-L13
1        3663588    0.0    3579.0    0.0    0.0    0.0    0.0    NaN    NaN    0.0    0.0  100.0     Found    NaN -300.0  Found     Found  166.0    NaN  542.0  368.0    NaN    NaN   NaN    NaN    NaN    NaN   NaN  Found     Found  Android 6.0.1  chrome 67.0 for android   24.0  1280x720  match_status:2     T     F     T     T     mobile         LGLS676 Build/MXB48T
2        3663597   -5.0  185210.0    NaN    NaN    1.0    0.0    NaN    NaN    NaN    NaN  100.0  NotFound   52.0 -360.0    New  NotFound  225.0    NaN  271.0  507.0    NaN    NaN   NaN    NaN    NaN    NaN   NaN    New  NotFound            NaN       ie 11.0 for tablet    NaN       NaN             NaN     F     T     T     F    desktop                  Trident/7.0

### Transactions

In [6]:
trans = TableDescriptor(df_train_ids,'Transaction_df','isFraud')

  0%|          | 0/42 [00:00<?, ?it/s]/home/panas1989/anaconda3/envs/kaggle_fraud/lib/python3.7/site-packages/scipy/stats/stats.py:3038: RuntimeWarning: invalid value encountered in double_scalars
  r = r_num / r_den
100%|██████████| 42/42 [00:00<00:00, 42.39it/s]

In [7]:
len(trans.variables)

42

# Join transactions and ids

## NaNs_rate

In [8]:
low_nan_vars=getCompletedVars(trans,nans_rate_cut_off = 0.025)

Selected features: 14/42

In [9]:
numerical_vars,categorical_vars= numerical_categorical_split(low_nan_vars,min_categories=300)

No of numerical features: 3
No of categorical features: 11

# Clustering imputation method

In [10]:
cols = [var.name for var in low_nan_vars if var.name != 'isFraud']

In [11]:
all_cols = ['TransactionID']+ cols

df_train_test = df_train_ids[all_cols].append(df_test_ids[all_cols],
                                              ignore_index=True)

In [12]:
df_train_test.shape

(286140, 14)

In [13]:
#save dataframe to save memory
df_train_test.to_csv('./Data/df_train_test_ids.csv',index=False)

# Save categorica, numerical, and all columns

In [14]:
from pickleObjects import *

In [15]:
path = './Data/'

In [16]:
num_cols = [var.name for var in numerical_vars if var.name not in ['TransactionID','isFraud']]
cat_cols = [var.name for var in categorical_vars if var.name not in ['TransactionID','isFraud']]

In [17]:
dumpObjects(cat_cols,path+'cat_cols_ids')
dumpObjects(num_cols,path+'num_cols_ids')
dumpObjects(cols,path+'cols_ids')

Object saved!
Object saved!
Object saved!